# EXERCICE 01

In [30]:
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [47]:
spambase_data = pd.read_csv(r'C:\Users\hp\Desktop\study\m1\apprentissage\TP2\TP02_DataSet\spambase\spambase.data',header=None)

reading the data

In [48]:
spambase_data

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

display the data

In [93]:
X = spambase_data.iloc[:, :-1].values
y = spambase_data.iloc[:, -1].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

first splitting the data into x and y 
x = labels , y = target using the iloc mrthod 
then using the train_test_split function from sklearn to split the data into train and test data (80% training and 20% testing)

In [94]:
lr_model = LogisticRegression(max_iter = 5000 , random_state=0)
lr_model.fit(X_train, y_train)

LogisticRegression(max_iter=5000, random_state=0)

create an instance of the LogisticRegression model
then training the model using the labels and targets from trhe training set

In [95]:
y_pred = lr_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9109663409337676

predict the test set 
calcuate the accuracy of the model usiong the accuracy_score function
display the accuracy

the model is valide with an error rate of 10%

In [96]:
cross_validation = cross_val_score(lr_model, X, y, cv=5)

usong the cross_val_score to calculate the cross validation score of the model based on the label(X)and the targets(y) using the cv method that takes 5 which mean that the data will be split into 5 sets each time one will be used for testing and the other four will be used for training

In [97]:
print("Cross-validation scores:", cross_validation)

Cross-validation scores: [0.92073833 0.92826087 0.93152174 0.94673913 0.83478261]

# EXERCICE 02

In [55]:
creditcard_data = pd.read_csv(r'C:/Users/hp/Desktop/study/m1/apprentissage/TP2/TP02_DataSet/creditcard.csv',header=None,low_memory=False)

reading the data

In [102]:
creditcard_data

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
1,0,-1.3598071336738,-0.0727811733098497,2.53634673796914,1.37815522427443,-0.338320769942518,0.462387777762292,0.239598554061257,0.0986979012610507,0.363786969611213,...,-0.018306777944153,0.277837575558899,-0.110473910188767,0.0669280749146731,0.128539358273528,-0.189114843888824,0.133558376740387,-0.0210530534538215,149.62,0
2,0,1.19185711131486,0.26615071205963,0.16648011335321,0.448154078460911,0.0600176492822243,-0.0823608088155687,-0.0788029833323113,0.0851016549148104,-0.255425128109186,...,-0.225775248033138,-0.638671952771851,0.101288021253234,-0.339846475529127,0.167170404418143,0.125894532368176,-0.00898309914322813,0.0147241691924927,2.69,0
3,1,-1.35835406159823,-1.34016307473609,1.77320934263119,0.379779593034328,-0.503198133318193,1.80049938079263,0.791460956450422,0.247675786588991,-1.51465432260583,...,0.247998153469754,0.771679401917229,0.909412262347719,-0.689280956490685,-0.327641833735251,-0.139096571514147,-0.0553527940384261,-0.0597518405929204,378.66,0
4,1,-0.966271711572087,-0.185226008082898,1.79299333957872,-0.863291275036453,-0.0103088796030823,1.24720316752486,0.23760893977178,0.377435874652262,-1.38702406270197,...,-0.108300452035545,0.00527359678253453,-0.190320518742841,-1.17557533186321,0.647376034602038,-0.221928844458407,0.0627228487293033,0.0614576285006353,123.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284803,172786,-11.8811178854323,10.0717849710003,-9.83478345739033,-2.06665568459413,-5.36447278097585,-2.6068373309456,-4.91821543115252,7.305334020798,1.9144282734458,...,0.213454108437359,0.111863735978609,1.01447989719391,-0.509348453168509,1.4368069070214,0.250034279569581,0.943651171507532,0.823730961486502,0.77,0
284804,172787,-0.732788670658956,-0.0550804899173326,2.03502974528243,-0.73858858438744,0.868229398914682,1.05841527222565,0.0243296959175797,0.294868698501783,0.584800017281683,...,0.214205341747019,0.924383584903381,0.0124630383316793,-1.01622566867336,-0.606623985854728,-0.395255065710324,0.0684724700405593,-0.0535273892010011,24.79,0
284805,172788,1.91956500980048,-0.301253845990644,-3.24963981406834,-0.55782812475002,2.63051512011547,3.03126009781428,-0.296826527116156,0.708417184967134,0.432454047632915,...,0.232045035925397,0.57822900992263,-0.0375008550221367,0.640133881346421,0.265745453243744,-0.0873705959041059,0.00445477213829229,-0.0265608285615222,67.88,0
284806,172788,-0.240440049680947,0.530482513118839,0.702510230095103,0.689799168040973,-0.377961134444982,0.62370772214768,-0.68617998628885,0.679145459790659,0.392086712465972,...,0.265244916386865,0.800048741498139,-0.163297944406659,0.123205243742508,-0.569158864158597,0.546668462188323,0.108820734744839,0.104532821478796,10,0
284807,172792,-0.53341252200504,-0.189733337002305,0.703337366963779,-0.506271240328258,-0.0125456787599659,-0.649616685713792,1.57700625437629,-0.414650407552662,0.486179505267237,...,0.261057330790975,0.643078437820093,0.376777014169917,0.00879737940024202,-0.473648703898825,-0.818267121041176,-0.00241530880001015,0.0136489143320671,217,0

display the data

In [103]:
credit_card_comp_data = creditcard_data.iloc[:,29:31].drop(0).astype(float)

In [91]:
grouped_data = credit_card_comp_data.groupby(30)[29].mean()

specify the amount and class columns removing the first row ad grouping the amount by the class

In [92]:
grouped_data

30
0.0     88.291022
1.0    122.211321
Name: 29, dtype: float64

we notice that the values of the amount are on average signifquantly lower

In [107]:
X2 = creditcard_data.iloc[1:, :-1].values
y2 = creditcard_data.iloc[1:, -1].values
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.2, random_state=0)

split the data into trining and testing data after deletign the first row

In [108]:
lr_model_2 = LogisticRegression(max_iter = 5000 , random_state=0)
lr_model_2.fit(X2_train.astype(float), y2_train.astype(float))

LogisticRegression(max_iter=5000, random_state=0)

creating the model and trining it using the data notice using the astype() method to convert the data type from string to float

In [111]:
Y2_pred = lr_model_2.predict(X2_test)

prediction testing set

In [126]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import roc_auc_score

importing the validation methods

In [127]:
cm = confusion_matrix(y2_test.astype(float), Y2_pred)
accuracy2 = accuracy_score(y2_test.astype(float), Y2_pred)
precision = precision_score(y2_test.astype(float), Y2_pred)
recall = recall_score(y2_test.astype(float), Y2_pred)
auc = roc_auc_score(y2_test.astype(float), Y2_pred)

In [128]:
cm ,accuracy2,precision,recall,auc

(array([[56853,     8],
        [   44,    57]], dtype=int64),
 0.9990871107053826,
 0.8769230769230769,
 0.5643564356435643,
 0.7821078708352712)

validating the model

# EXERCICE 03

In [130]:
malicious_phish = pd.read_csv(r'C:/Users/hp/Desktop/study/m1/apprentissage/TP2/TP02_DataSet/malicious_phish.csv',header=None)

load the data

In [131]:
malicious_phish

                                                        0           1
0                                                     url        type
1                                        br-icloud.com.br    phishing
2                     mp3raid.com/music/krizz_kaliko.html      benign
3                         bopsecrets.org/rexroth/cr/1.htm      benign
4       http://www.garage-pirenne.be/index.php?option=...  defacement
...                                                   ...         ...
651187            xbox360.ign.com/objects/850/850402.html    phishing
651188       games.teamxbox.com/xbox-360/1860/Dead-Space/    phishing
651189         www.gamespot.com/xbox360/action/deadspace/    phishing
651190      en.wikipedia.org/wiki/Dead_Space_(video_game)    phishing
651191          www.angelfire.com/goth/devilmaycrytonite/    phishing

[651192 rows x 2 columns]

In [142]:
from sklearn.feature_extraction.text import CountVectorizer

In [144]:
vectorizer = CountVectorizer()

In [148]:
X3 = vectorizer.fit_transform(malicious_phish.iloc[1:,0].values)
y3 = malicious_phish.iloc[1:,1].values
X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, test_size=0.2, random_state=0)

vectorizer.fit_transform() function takes the url data and provide a numerical representation for the training model , 
split the data into test and train data

In [ ]:
lr_model_3 = LogisticRegression(max_iter = 5000 , random_state=0)
lr_model_3.fit(X3_train, y3_train)

train the model

In [ ]:
Y3_pred = lr_model_3.predict(X3_test)
cm3 = confusion_matrix(y3_test, Y3_pred)
accuracy3 = accuracy_score(y3_test, Y3_pred)
cm3,accuracy3

predict the test set and validating the model usong confusion matrix and accuracy validator